* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  align-items: center;
  background-color: grey;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  padding-top: 80px;
  margin: 0 auto;
  background-color: white;
}

.inputBox {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.loginLabel {
  font-weight: 600;
  margin-bottom: 10px;
}

.loginInput {
  width: 200px;
  height: 40px;
  border: solid 1px;
}

.loginButton {
  width: 200px;
  height: 40px;
  background: rgb(7, 148, 148);
  background: linear-gradient(90deg, rgba(7, 148, 148, 1) 1%, rgba(6, 163, 87, 1) 43%, rgba(22, 245, 115, 0.973) 92%);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
}